[submodule "third_party/opentelemetry-cpp"]
	path = third_party/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp.git
[submodule "third_party/nats-cpp"]
	path = third_party/nats-cpp
	url = https://github.com/nats-io/nats.c.git
