services:
  nats:
    image: nats:latest
    network_mode: host
    command:
      - "--jetstream"
      - "--store_dir=/data"
      - "--http_port=8222"
      - "--port=4222"

    volumes:
      - nats_data:/data

  jaeger:
    image: jaegertracing/all-in-one:latest
    network_mode: host

  js-init:
    build:
      context: ./js-init
    network_mode: host
    depends_on:
      - nats
    environment:
      - NATS_URL=nats://127.0.0.1:4222

  flow-pipe:
    build:
      context: .
      dockerfile: flow-pipe/Dockerfile
    network_mode: host
    depends_on:
      - nats
      - jaeger
      - js-init
    command:
      - /opt/flow-pipe/flows/rpc-pipeline.yaml
    environment:
      - NATS_URL=nats://127.0.0.1:4222
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc

  grpc-gateway:
    build:
      context: .
      dockerfile: grpc/Dockerfile
      target: gateway-runtime
    network_mode: host
    depends_on:
      - nats
      - jaeger
      - js-init
    environment:
      - NATS_URL=nats://127.0.0.1:4222
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc

  grpc-client:
    build:
      context: .
      dockerfile: grpc/Dockerfile
      target: client-runtime
    network_mode: host
    depends_on:
      - grpc-gateway
      - jaeger
    environment:
      - GRPC_SERVER=127.0.0.1:50051
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc

volumes:
  nats_data:
    driver: local